﻿@page "/"
@using TmsV5c.Client
@namespace TmsV5c.Server.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="utf-8" />
 <meta name="viewport" content="width=device-width, initial-scale=1.0" />
 <title>TMSV5C</title>
 <base href="/TMSV5C/" />
 <link rel="icon" type="image/png" href="/TMSV5C/favicon.png" />
 <link href="_content/PltLibUiApp/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
 <link href="_content/PltLibUiApp/css/site.css" rel="stylesheet" />
 <link href="/TMSV5C/TmsV5c.Client.styles.css" rel="stylesheet" />

 <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
 <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
</head>
<body>
 <component type="typeof(App)" render-mode="WebAssemblyPrerendered" />

 <div id="blazor-error-ui">
  <environment include="Staging,Production">
   An error has occurred. This application may no longer respond until reloaded.
  </environment>
  <environment include="Development">
   An unhandled exception has occurred. See browser dev tools for details.
  </environment>
  <a href="" class="reload">Reload</a>
  <a class="dismiss">🗙</a>
 </div>

 <script src="_content/MudBlazor/MudBlazor.min.js"></script>
 <script src="_framework/blazor.webassembly.js" autostart="false"></script>

 <script>

  //check if webassembly is supported
  //https://waelkdouh.medium.com/how-to-detect-unsupported-browsers-under-a-blazor-webassembly-application-bc11ab0ee015
  const webAssemblySupported = (function () {
   try {
       if (typeof WebAssembly === "object" && typeof WebAssembly.instantiate === "function") {
           const module = new WebAssembly.Module(Uint8Array.of(0x0, 0x61, 0x73, 0x6d, 0x01, 0x00, 0x00, 0x00));
           if (module instanceof WebAssembly.Module) {
               return new WebAssembly.Instance(module) instanceof WebAssembly.Instance;
           }
       }
   }
   catch (e) {
       console.error(e);
   }
   return false;
  })();

  if (webAssemblySupported) {
   Blazor.start({});
  }
  else {
   console.log("Blazor WASM not supported");
   window.location = "../TMSV5S";
  }

 </script>

</body>
</html>
