﻿@* ReSharper disable once CheckNamespace *@
@namespace PltLibUiApp

<MudDrawer @bind-Open="IsOpen" ClipMode="DrawerClipMode.Always" Elevation="2">
    <MudPaper Width="250px" Class="d-inline-flex py-3" Square="true">
        <MudNavMenu Class="mud-width-full">
            <MudText Typo="Typo.h6" Class="px-4">Material</MudText>
            <MudText Typo="Typo.body2" Class="px-4 mud-text-secondary">Icons</MudText>
            <MudDivider Class="my-2" />
            <MudNavLink Href="dashboard" Icon="@Icons.Filled.Dashboard">Dashboard</MudNavLink>
            <MudNavLink Href="servers" Icon="@Icons.Filled.Storage" Disabled="true">Servers</MudNavLink>
            <MudNavLink Href="billing" Icon="@Icons.Filled.Receipt">Billing</MudNavLink>
            <MudNavGroup Title="Settings" Icon="@Icons.Filled.Settings" Expanded="false">
                <MudNavLink Href="users" Icon="@Icons.Filled.People" IconColor="Color.Success">Users</MudNavLink>
                <MudNavLink Href="security" Icon="@Icons.Filled.Security" IconColor="Color.Info">Security</MudNavLink>
            </MudNavGroup>
        </MudNavMenu>
    </MudPaper>
</MudDrawer>

@code {

    private bool _isOpen;

    [Parameter]
    public bool IsOpen
    {
        get => _isOpen;
        set
        {
            if (_isOpen == value)
            {
                return;
            }

            _isOpen = value;
            IsOpenChanged.InvokeAsync(_isOpen);
        }
    }

    [Parameter]
    public EventCallback<bool> IsOpenChanged { get; set; }
}