﻿@* ReSharper disable once CheckNamespace *@
@namespace PltLibUiApp

@using PltLibUiApp.Models

@inject NavigationManager _navigationManager

<MudAppBar Elevation="1">
    <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="MenuClicked" />
    <MudText Typo="Typo.h5" Class="ml-3">Application</MudText>
    <MudSpacer />
    @if (AppBar != null)
    {
        <MudMenu OffsetX="true" OffsetY="true" Direction="Direction.Left">
            <ActivatorContent>
                <MudAvatar Color="Color.Secondary">@AppBar.User.DisplayInitial</MudAvatar>
            </ActivatorContent>
            <ChildContent>
                <MudContainer Style="Width: 350px">
                    <div>
                        <MudAvatar Color="Color.Secondary" Size="Size.Large" Style="float: left">@AppBar.User.DisplayInitial</MudAvatar>
                        <div Style="text-align: right">
                            <MudText>@AppBar.User.DisplayName</MudText>
                            <MudText>@AppBar.User.Email</MudText>
                            <MudText>@AppBar.User.CustomerCode</MudText>
                        </div>
                    </div>
                    <MudDivider Light="true" Style="margin: 5px" />
                    <div>
                        @if (AppBar.MenuItems?.Any() == true)
                        {
                            @foreach (var menu in AppBar.MenuItems)
                            {
                                <MudMenuItem Link="@menu.Link">
                                    <MudIcon Icon="@menu.Icon" Color="Color.Inherit" />
                                    @menu.Text
                                </MudMenuItem>
                            }
                        }
                    </div>
                    <MudDivider Light="true" Style="margin: 5px" />
                    <MudMenuItem OnClick="LogoutClicked">
                        <MudIcon Icon="@Icons.Filled.Logout" Color="Color.Inherit" />
                        Log out
                    </MudMenuItem>
                </MudContainer>
            </ChildContent>
        </MudMenu>
    }
</MudAppBar>

@code {
    private bool _isDrawerOpen;

    [Parameter]
    public bool IsDrawerOpen
    {
        get => _isDrawerOpen;
        set
        {
            if (_isDrawerOpen == value)
            {
                return;
            }

            _isDrawerOpen = value;
            IsDrawerOpenChanged.InvokeAsync(_isDrawerOpen);
        }
    }

    [Parameter]
    public EventCallback<bool> IsDrawerOpenChanged { get; set; }

    [Parameter]
    public AppBarModel AppBar { get; set; }

    private void MenuClicked() => IsDrawerOpen = !IsDrawerOpen;

    private void LogoutClicked() => _navigationManager.NavigateTo("logout", true);
}