﻿@page
@model PltLibServer.Pages.RedirectModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h3>Choose your type : </h3>

<form method="post">
    <input type="submit" value="Server" asp-page-handler="Server" />
    <input type="submit" value="Client" asp-page-handler="Client" />
</form>