﻿@page "/"
@namespace TmsV5s.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="utf-8" />
 <meta name="viewport" content="width=device-width, initial-scale=1.0" />
 <title>TMSV5S</title>
 <base href="/TMSV5S/" />
 <link rel="icon" type="image/png" href="/TMSV5S/favicon.png" />
 <link href="_content/PltLibUiApp/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
 <link href="_content/PltLibUiApp/css/site.css" rel="stylesheet" />
 <link href="/TMSV5S/TmsV5s.styles.css" rel="stylesheet" />

 <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
 <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
</head>
<body>
 <component type="typeof(App)" render-mode="ServerPrerendered" />

 <div id="blazor-error-ui">
  <environment include="Staging,Production">
   An error has occurred. This application may no longer respond until reloaded.
  </environment>
  <environment include="Development">
   An unhandled exception has occurred. See browser dev tools for details.
  </environment>
  <a href="" class="reload">Reload</a>
  <a class="dismiss">🗙</a>
 </div>

 <script src="_content/MudBlazor/MudBlazor.min.js"></script>
 <script src="/TMSV5S/_framework/blazor.server.js" autostart="false"></script>
 <script>
  (function() {
   Blazor.start({
	configureSignalR: function (builder) {
	 builder.withUrl("/TMSV5S/_blazor");
	}
   });
  })();

 </script>
</body>
</html>
