﻿@* ReSharper disable once CheckNamespace *@
@namespace PltLibUiApp

@page "/security"

@attribute [Authorize]

<MudContainer>
    <PdfViewer Url="https://mozilla.github.io/pdf.js/web/compressed.tracemonkey-pldi-09.pdf"></PdfViewer>
</MudContainer>