﻿@* ReSharper disable once CheckNamespace *@
@namespace PltLibUiApp

@using Microsoft.AspNetCore.Components
@using PltLibUiApp.Models
@using PltUiService.Services.Interfaces

@inject IAppLoaderService _appLoaderService
@inject IAppContextService _appContextService
@inject IAnnouncementService _announcementService
@inject NavigationManager _navigationManager

@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
	<AuthorizeView>
		<Authorized>
			<TopMenuAppBar AppBar="@_appBar" @bind-IsDrawerOpen="IsDrawerOpen"></TopMenuAppBar>
			<LeftDrawerMenu @bind-IsOpen="IsDrawerOpen"></LeftDrawerMenu>
		</Authorized>
	</AuthorizeView>
	<MudMainContent>
		@Body
	</MudMainContent>
</MudLayout>

@code {

	[CascadingParameter]
	protected Task<AuthenticationState> AuthenticationState { get; set; }

	private AppBarModel _appBar;

	public bool IsDrawerOpen { get; set; }

	protected override async Task OnInitializedAsync()
	{
		if ((await AuthenticationState).User?.Identity?.IsAuthenticated != true)
		{
			_navigationManager.NavigateTo(_navigationManager.ToAbsoluteUri("Login").ToString(), true);
			return;
		}

		var appLoader = await _appContextService.GetStartupContextAppLoaderAsync();
		var userProductAccess = await _appLoaderService.GetUserProductAccessAsync();

		if (appLoader == null || userProductAccess == null)
		{
			return;
		}

		_appBar = new AppBarModel
		{
			User = new UserModel
			{
				CustomerCode = appLoader.UserProfileInfo.CustomerCode,
				DisplayName = appLoader.UserProfileInfo.DisplayName,
				Email = appLoader.UserProfileInfo.Email,
				DisplayInitial = appLoader.UserProfileInfo.DisplayInitial
			},
			MenuItems = userProductAccess.TopRightMenuItems?.FirstOrDefault()?.Groups.Select(x => new MenuItemModel
			{
				Icon = x.UserProductAccess.IconName,
				Link = x.UserProductAccess.Link,
				Text = x.UserProductAccess.Name
			})
		};
	}
}